.layout_body {
    background-color: rgb(106, 0, 40);
}

.content_area_editor {
    background-color: cornsilk;
}

.content_area_editor table {
    line-height: 0.5em;
}

.content_area {
    background-color: #ffffff;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4em;
}

img.img_logo {
    background-color: rgb(106, 0, 40);
}

#header-container {
    padding-top: 20px;
    padding-bottom: 0;
}

#footer-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

a.nav-link {
    color: #ffffff;
}

li.breadcrumb-item, li.breadcrumb-item a {
    color: rgb(106, 0, 40);
}

.footer {
    color: #ffffff;
}

img.product-filter-remove {
    background-image: url("bootstrap-icons/icons/trash.svg");
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

span.product-filter-open {
    font-size: 14px;
}

div.product-filter-show-filters {
    min-height: 2.5em;
    vertical-align: top;
}

div.product_card_deck_container {
    min-height: 40em;
    vertical-align: top;
}

span.product-package-info {
    font-size: 0.75em;
    font-style: italic;
    line-height: 0.75em;
    padding-top: 0;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
    display: block;
}

textarea.product-text-manager {
    visibility: hidden;
    height: 300px;
}

#publish-header-container {
    background-color: lightcoral;
    padding: 20px;
}

#publish-footer-container {
    background-color: lightcoral;
    padding: 20px;
}

.product-publish-container {
    display: none;
}

.product_card_deck_container .card-footer {
    background: white;
    border-top: 0;
}

.product_data_table, th {
    line-height: 1em;
}

input {
    text-align: right;
}

.font_badge_bio {
    color: darkgreen;
    font-weight: bolder;
    font-size: 0.75em !important;
    float: right;
    display: inline;
}

.font_badge_quality_control {
    color: darkgoldenrod;
    font-weight: bolder;
    font-size: 0.75em !important;
    display: inline;
}

.font_badge_selection {
    color: darkslateblue;
    font-weight: bolder;
    font-size: 0.75em !important;
    display: inline;
}

.open_product, .open_product:hover {
    all: inherit;
    cursor: grab;
}

.open_product:hover {
    all: inherit;
    cursor: grab;
    opacity: 50%;
}

#breadcrumb-container {
    padding-top: 1em;
    padding-left: 0.5em;
}